body{

background-color: orangered;
color: whitesmoke;

}
.heading
{
   width: 80%;
   font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: lightgreen;
}
#camera
{
    width: 350px;
    height: 300px;
    border: 2px solid blue;
}
 